Django==1.2.5
-e git+git://github.com/toastdriven/django-tastypie.git#egg=tastypie
pyechonest
# pyMusiXmatch is not an egg so we can't install it with pip
#-e git+git://github.com/utstikkar/pyMusiXmatch.git
-r src/tastypie/requirements.txt

##################
# UNUSED PACKAGES
##################
#django-piston
#-e git+git://github.com/mozilla/django-piston.git#egg=django-piston
# there is a python-musicbrainz3 but it hasn't been released on PyPi yet, so we'll stick with v2
python-musicbrainz2 
