body {
  text-align: left;
  font-family:Delicious, serif;
  #background-image:url('heart_border2.png');
  #background-repeat:no-repeat;
  font-size:20px;
  font-weight:bold;
  #background-color: #ffebdb;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

input, textarea {
	font-family: CutiePop, serif;
	#margin-bottom: 20px;
	margin-top: 5px;
	color:Black;
	#font-weight:bold;
	font-size:32px;
	background-color:Beige;
	border: 0px solid;
	border-color: Gray;
}


form#song-filter{
  text-align: left;
}

input.btn {
	color:White;
	font-weight:bold;
	font-size:40px;
	background-color:Red;
	border: 3px solid;
	border-color: Black;
}

.small {
  text-align: left;
  font-family:MyUnderwoodRegular, serif;
  #background-color: #ffebdb;
  font-size:20px;
}

#message {
	font-family: CutiePop;
	font-size: 30px;
	text-indent:10px;
	margin-top:10px;
}


label {
	#color: #B4886B;
	font-family:Impact_Label, serif;
	font-size:42px;
	display: block;
    padding-left: 15px;
    text-indent: -15px;
}

label:after { content: ":" }

  #content{
	width: 800px;
	background: white;
	#padding: 10px;
	font-family:MyUnderwoodRegular, serif;
	font-size:16px;
	text-indent:10px;
	#margin-top:60px;
  }
  #content ul li { list-style-type:none; }

  #header{
	width: 800px;
	font-family:MyUnderwoodRegular, serif;
	font-size:26px;
	text-indent:10px;
  }

  
  img { border-style: none; }
    
  @font-face {
	font-family: 'MyUnderwoodRegular';
	src: url('../fonts/MyUnderwood-webfont.eot');
	src: local('☺'), url('../fonts/MyUnderwood-webfont.woff') format('woff'), url('../fonts/MyUnderwood-webfont.ttf') format('truetype'), url('../fonts/MyUnderwood-webfont.svg#webfontnx6xGMOt') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'CutiePop';
	src: local('☺'), url('../fonts/CutiePop.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Impact_Label';
	src: local('☺'), url('../fonts/Impact_Label.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
