{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<form method="POST" action=".">
<ul>
    {% for track in track_list %}
     <li class="{% cycle 'even' 'odd' %}">
    <input type="checkbox" name="track" value="{{ track.id }}"/>
    <span>{{ track.artist_name }} - {{ track.track_name }}</span>
    <div class="player">
          <object type="application/x-shockwave-flash" data="/static/button/musicplayer.swf?&song_url={{ track.audio_url }}" width="17" height="17">
          <param name="movie" value="/static/button/musicplayer.swf?&song_url={{ track.audio_url }}" />
          <img src="/static/imgs/noflash.gif" width="17" height="17" alt="" />
          </object>
    </div>
    <div class="reason">'cause of "{{ track.reason }}"</div>
     </li>  
    {% endfor %}
</ul>
<input type="submit" name="get_url" value="Share a Link" class="btn" />
<input type="submit" name="phone_call" value="Send a Phone Call" class="btn" />
</form>
{% endblock %}
