{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}

  
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
codebase="http://fpdownload.macromedia.com/pub/
shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
width="400" height="168">
<param name="allowScriptAccess" value="sameDomain"/>
<param name="movie" value="/static/player/xspf_player.swf"/>
<param name="quality" value="high"/>
<param name="bgcolor" value="#E6E6E6"/>
<embed src=
"/static/player/xspf_player.swf?
playlist_url=playlist/{{ card.id }}/"
quality="high" bgcolor="#E6E6E6"
name="xspf_player" allowscriptaccess="sameDomain"
type="application/x-shockwave-flash"
pluginspage="http://www.macromedia.com/go/getflashplayer"
align="center" height="168" width="400"></embed>
</object>
  
<div id="intro"> 
  Dearest <span class="client">{{ card.to_name }}</span>,
  <p>You've just received a ValenTUNE from <span class="client">{{ card.from_name }}</span>! Your bespoke playlist has been carefully crafted out of the most equisite music on the web and hand selected by your special someone. It was then gently gift-wrapped, delicately placed into this webpage and delivered on the backs of sea turtles to arrive on this screen.  <span class="client">{{ card.from_name }}</span> must really adore you!</p>
  <p>Oooh look - there's a note:</p>
</div>

<blockquote id="message" class="client">
  {{ card.intro_note}}
</blockquote>

{% endblock %}
