{% extends "base.html" %}

{% block content %}
<form method="POST" action="/">
  {{ form.non_field_errors }}
<div>
  {{ form.to_name.errors }}
<label for="name">Valentine's First or Nick Name</label><br>
<input style="content" type="text" name="{{ form.to_name.html_name }}" id="to_name" size="50" value="Samantha" tabindex="1" />
</div>
<div>
  {{ form.interests.errors }}
  <label for="{{ form.interests.html_name }}">Your Valentine's Interests</label><br>
<textarea name="{{ form.interests.html_name }}" rows="2" cols="50">beer,cats,cooking</textarea>
</div>
<div>
</div>
<div>
  <label for="{{ form.to_phone.html_name }}">Valentine's Cellphone</label><br>
<input type="tel" size="50" name="{{ form.to_phone.html_name }}" value="6465551212"/>
</div>

<div style = "small">
  <label for="{{ form.intro_note.html_name }}" class="small">Personalized message</label><br>
<textarea class="small" name="{{ form.intro_note.html_name }}" rows="3" cols="50">Hi Sweet heart! Here's a ValenTUNE! Hope you enjoy it!</textarea>
</div>
<div>
<label for="{{ form.from_name.html_name }}" class="small">Your Name</label>
<input type="text" name="{{ form.from_name.html_name }}" value="Romeo"/>
</div>
<div>
<label for="{{ form.from_phone.html_name }}" class="small">Your Cell</label>
<input type="tel" name="{{ form.from_phone.html_name }}" value="6465551213"/>
</div>
<input type="submit" name="op" value="Send Your ValenTUNE" class="btn" />
</form>
{% endblock %}

