{% extends "base.html" %}

{% block content %}
<form method="POST" action=".">
<div>
<label for="name">Recipient's Name</label><br>
<input style="content" type="text" name="to_name" id="to_name" size="50" value="madeleine" tabindex="1" />
</div>
<div>
<label for="name">Your Valentine's Interests</label><br>
<textarea name="interests" rows="2" cols="50">ski, blueberry, vodka, mac, poodle, roses</textarea>
</div>
<div>
</div>
<div>
<label for="name">Valentine's Cellphone</label><br>
<input type="tel" size="50" name="recipient_phone" value="6465551212"/>
</div>

<div style = "small">
<label style = "small">Personalized message</label><br>
<textarea style = "small" name="note" rows="3" cols="50">Here's a ValenTUNE! Hope you enjoy it!</textarea>
</div>
<span style = "small">Your Name</span>
<input type="text" name="sender_name" value="romeo"/>
<span style = "small">Your Cell</span>
<input type="tel" name="sender_phone" value="6465551213"/>
</div>
<input type="submit" name="op" value="Send Your ValenTUNE" class="btn" />
</form>
{% endblock %}

